{% set current_menu = 'comunes/_menu.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Tareas de {{ lista.titulo }}{% endblock %}

{% block body %}
    <h1>Tareas de la lista: {{ lista.titulo }}</h1>
    <table id="datatable-listas" class="table table-striped">
    <thead>
        <tr>
            <th scoope="col">#</th>
            <th scoope="col">Descripcion</th>
            <th scoope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for index, tarea in tareas %}
            <tr>
               <th scoope="row">{{ index +1 }}</th>
               <td class="titulo">
                    {% if tarea.finalizada %}
                        <s>{{ tarea.descripcion }}</s>
                    {% else %}
                        {{ tarea.descripcion }}
                    {% endif %}
                </td>
               <td>
                <a href="{{ path('app_editar_tarea', {'listaId': lista.id, 'id': tarea.id}) }}" class="btn btn-sm btn-warning" title="Editar">
                    <i class="fas fa-pen"></i>
                </a>

                <button
                    class="btn btn-sm btn-danger eliminar-tarea"
                    data-id="{{ tarea.id }}"
                    data-nombre="{{ tarea.descripcion }}">
                    <i class="fas fa-trash"></i>
                </button>

                <a href="#"
                class="btn btn-sm btn-success finalizar"
                data-url="{{ path('app_finalizar_tarea', {'id': tarea.id}) }}"
                data-texto-contrario="{{ tarea.finalizada ? 'Finalizar' : 'Desfinalizar' }}"
                title="{{ tarea.finalizada ? 'Desfinalizar' : 'Finalizar' }}">
                    {% if tarea.finalizada %}
                        <i class="fas fa-undo"></i> 
                    {% else %}
                        <i class="fas fa-check"></i> 
                    {% endif %}
                </a>
            </td>
            </tr>
            {% else %}
                <tr>
                    <td>No hay tareas en esta lista.</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
    </tbody>
    </table>
{% endblock %}

