{% set current_menu = 'comunes_lista/_menu.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Listas de Tareas{% endblock %}

{% block body %}
    <h1>Listas de Tareas</h1>
    {% include 'comunes_lista/_mensajes.html.twig' %}
    <table id="datatable-listas" class="table table-striped">
    <thead>
        <tr>
            <th scoope="col">#</th>
            <th scoope="col">Nombre</th>
            <th scoope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for index, lista_tarea in listas %}
            <tr>
               <th scoope="row">{{ index +1 }}</th>
               <td>{{ lista_tarea.titulo }}</td>
               <td>
                    <a href="{{ path('app_ver', {'id': lista_tarea.id}) }}" class="btn btn-sm btn-info" title="Ver">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{{ path('app_editar',{'id': lista_tarea.id})}}" class="btn btn-sm btn-warning" title="Editar">
                        <i class="fas fa-pen"></i>
                    </a>
                    <button
                        class="btn btn-sm btn-danger eliminar-lista"
                        data-id="{{ lista_tarea.id }}"
                        data-nombre="{{ lista_tarea.titulo }}">
                        <i class="fas fa-trash"></i>
                    </button>
               </td> 
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No hay tareas en esta lista.</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    
{% endblock %}
